HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# AWS S3 upload provider with CloudFront CDN delivery
UPLOAD_PROVIDER=
AWS_ACCESS_KEY_ID=
AWS_ACCESS_SECRET=
AWS_REGION=
AWS_BUCKET=
AWS_ACL=public-read
AWS_SIGNED_URL_EXPIRES=900
CDN_URL=
CDN_ROOT_PATH=
